.home {
    flex-wrap: wrap;
    align-content: center;
}

.home > *{
    width: 25vw;
    height: 25vw;
}


.home > .btn-home-mais {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 52vw;
}

.item > *{
    height: 100%;
    width: 50%;
}

.form {
    flex-direction: column;
}

.form input{
    border-radius: 8px;
    width: 72vw;
    padding: 1rem;
    font-size: 2rem;
    border: 5px solid #0c4478;
}


.form > .btn-enviar{
    position: absolute;
    bottom: 0;
    width: 90vw;
    height: 14vh;
}

.form-hint{
    font-size: 1.5rem;

}