.tela {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
  }
  
  .fundo {
    background-image: url('/src/assets/assets1/tela02.svg');
    background-size: cover;
    background-position: center;
  }
  .fundo.inicio{
    background-image: url('/src/assets/assets1/tela01.svg');
  }
  .fundo.erro{
    background-image: url('/src/assets/assets1/tela-erro.svg');
  }
  .fundo.acerto{
    background-image: url('/src/assets/assets1/tela-ok.svg');
  }

  .erro .titulo{
    margin-top: 80%;
  }

  .titulo {
    font-size: 5vw;
    color: white;
    text-shadow: 0px 3.563px 3.563px rgba(0, 0, 0, 0.25);
    /* margin-bottom: 2rem; */
    /* padding: 1rem; */
    position: absolute;
    top: 9%;
    display: flex;
    align-items: center;
    width: 63%;
    height: 16%;
    margin: 0;
    margin-left: 13%;
  }
  
  .opcoes {
    display: flex;
    flex-direction: column;
    gap: 8vw;
    width: 76%;
    margin-top: 17%;
  }
  
  .opcao {
    background: rgba(255, 255, 255, 0.85);
    padding: 5vw;
    border-radius: 1000px;
    font-size: 3vw;
    font-weight: bold;
    color: #333;
    transition: background 0.2s;
  }

  .opcao.--certo {
    background: rgba(179, 255, 198, 0.85);
  }
  .opcao.--errado {
    background: rgba(255, 169, 169, 0.85);
  }
  
  .opcao:hover {
    /*background: white;*/
  }
  